<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django CRUD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    
  </head>
  <body>
    {% include '_navbar.html' %}
    
    {% block content %}
    {% endblock %}
  </body>
</html>
<script>
  // Captura el botón de "Modo Oscuro" y el cuerpo del documento
  const modoOscuroBtn = document.getElementById('modoOscuroBtn');
  const cuerpoDocumento = document.body;

  // Verifica si hay una configuración almacenada en localStorage
  const modoOscuroActivado = localStorage.getItem('modoOscuro') === 'activado';

  // Paleta de colores para el modo oscuro
  const coloresModoOscuro = {
      backgroundColor: '#333',  // Cambia el color de fondo a un tono oscuro
      color: '#000',  // Cambia el color del texto a blanco
      headerBackgroundColor: '#444',  // Cambia el color de fondo del encabezado a un tono más oscuro
  };

  // Aplica el modo oscuro si estaba activado
  if (modoOscuroActivado) {
      aplicarEstilosModoOscuro();
  }

  // Escucha el evento de clic en el botón
  modoOscuroBtn.addEventListener('click', () => {
      // Alterna la clase modo-oscuro en el cuerpo del documento
      cuerpoDocumento.classList.toggle('modo-oscuro');

      // Aplica o elimina los estilos del modo oscuro
      if (cuerpoDocumento.classList.contains('modo-oscuro')) {
          aplicarEstilosModoOscuro();
      } else {
          eliminarEstilosModoOscuro();
      }

      // Guarda la configuración en localStorage
      const modoOscuroNuevo = cuerpoDocumento.classList.contains('modo-oscuro') ? 'activado' : 'desactivado';
      localStorage.setItem('modoOscuro', modoOscuroNuevo);
  });

  // Función para aplicar los estilos del modo oscuro
  function aplicarEstilosModoOscuro() {
      cuerpoDocumento.style.backgroundColor = coloresModoOscuro.backgroundColor;
      cuerpoDocumento.style.color = coloresModoOscuro.color;
      // Puedes agregar más estilos según sea necesario
      // Por ejemplo, cambiar el color de fondo del encabezado
      document.querySelector('header').style.backgroundColor = coloresModoOscuro.headerBackgroundColor;
      const formularioBusqueda = document.getElementById('frmBusquedaTraduccion');
      formularioBusqueda.style.backgroundColor = coloresModoOscuro.backgroundColor;
      formularioBusqueda.style.color = coloresModoOscuro.color;
      // Aplica el modo oscuro en otras secciones si es necesario
      aplicarEstilosModoOscuroCrearTarea();
  }

  // Función para eliminar los estilos del modo oscuro
  function eliminarEstilosModoOscuro() {
      cuerpoDocumento.style.backgroundColor = '';  // Utiliza el valor por defecto
      cuerpoDocumento.style.color = '';  // Utiliza el valor por defecto
      // Elimina otros estilos según sea necesario
      document.querySelector('header').style.backgroundColor = '';  // Utiliza el valor por defecto
      const formularioBusqueda = document.getElementById('frmBusquedaTraduccion');
      formularioBusqueda.style.backgroundColor = ''; // Utiliza el valor por defecto
      formularioBusqueda.style.color = ''; // Utiliza el valor por defecto
      // Elimina el modo oscuro en otras secciones si es necesario
      eliminarEstilosModoOscuroCrearTarea();
  }

  // Función para aplicar el modo oscuro en la sección de crear tarea
  function aplicarEstilosModoOscuroCrearTarea() {
      const crearTareaSection = document.querySelector('.card.shadow');
      crearTareaSection.classList.add('modo-oscuro-crear-tarea');
  }

  // Función para eliminar el modo oscuro en la sección de crear tarea
  function eliminarEstilosModoOscuroCrearTarea() {
      const crearTareaSection = document.querySelector('.card.shadow');
      crearTareaSection.classList.remove('modo-oscuro-crear-tarea');
  }
</script>